---
---

@import "{{ site.theme }}";
nav {
  padding: 0;
}
nav ul {
  margin: 0;
  list-style-type: square;
  padding-inline-start: 2ch;
}
nav > ul {
  list-style-type: none;
  padding-inline-start: 0; /* no padding in outermost list */
}
nav > ul > li {
  padding-top: 0;  /* no padding at top of TOC */
}
nav > ul li {
  padding-top: 0.5em; /* padding before each top level item */
}
a:hover, a:focus {
  color: blue;
  font-weight: inherit;
}
