---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 0 0;
}
ol, ul {
    padding-left: 1em;
}
ul {
  margin: 0;
  list-style-type: square;
}
nav {
  padding: 0;
}
nav ul {
  margin: 0;
  list-style-type: square;
  padding-inline-start: 2ch;
}
nav > ul {
  list-style-type: none;
  padding-inline-start: 0; /* no padding in outermost list */
}
nav > ul > li {
  padding-bottom: 0.5em; /* padding after each top level item */
}
a:hover, a:focus {
  color: blue;
  font-weight: inherit;
}
/* make code blocks more compact */
.highlight {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.anchor-link {
  font-size: 0.75em;
}